table#results {
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
}

main table tr th, main table tr td {
    padding: 10px 15px;
    
}
main table tr th {
    background-color: rgb(255,182,193, 1.5);
    text-align: left;
    border-bottom: 1px solid white;
    color: white;
}
main table tr:last-of-type {
    border-bottom: 2px solid rgb(255,182,193, 1.5);

}
